/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 239 100% 95%;
		--foreground: 239 5% 0%;
		--card: 239 50% 90%;
		--card-foreground: 239 5% 10%;
		--popover: 239 100% 95%;
		--popover-foreground: 239 100% 0%;
		--primary: 239 85% 66.1%;
		--primary-foreground: 0 0% 0%;
		--secondary: 239 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 201 30% 85%;
		--muted-foreground: 239 5% 35%;
		--accent: 201 30% 80%;
		--accent-foreground: 239 5% 10%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 239 5% 90%;
		--border: 239 30% 50%;
		--input: 239 30% 18%;
		--ring: 239 85% 66.1%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 250, 23.1%, 10.2%;
		--foreground: 205 35% 95%;
		--card: 260 20% 14%;
		--card-foreground: 205 35% 95%;
		--popover: 240 25% 5%;
		--popover-foreground: 205 35% 95%;
		--primary: 239, 85%, 66.1%;
		--primary-foreground: 205 35% 95%;
		--secondary: 260, 17.1%, 13.7%;
		--secondary-foreground: 205 35% 95%;
		--muted: 245, 56.4%, 45.9%;
		--muted-foreground: 239 5% 60%;
		--accent: 245, 56.4%, 45.9%;
		--accent-foreground: 205 35% 95%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 239 5% 90%;
		--border: 239 30% 18%;
		--input: 239 30% 18%;
		--ring: 239 85% 66.1%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	@font-face {
		font-family: "Telegaf";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/Telegraf.ttf") format("truetype");
	}
}
