---
import Layout from "../layouts/Layout.astro";
import Code from "../components/Code.astro";
---

<Layout title="Files CLI">
	<main>
	<img src="/pinnie.svg" alt="pinnie" />
	<h1>The Files CLI</h1>

	<Code/>
	<p>After installing, run <code>pinata auth</code> to get started! </p>
			<a href="https://docs.pinata.cloud/tools/files-cli" target="_blank" rel="noreferrer">Docs</a>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		color: #EDF2F6;
		font-family: sans-serif;
	}

	code {
	background: #211D29;
	padding: 0.5rem 0.75rem;
	border-radius: 10px;
	}


	img {
				width: 200px;
		height: 200px;
	}

	h1 {
			font-family: 'Telegraf', sans-serif;
			font-weight: 700;
			font-size: 60px;
	}

	a {
			text-decoration: "underline";
			color: #EDF2F6;
			font-family: 'Telegraf', sans-serif;
			font-size: 24px;
				margin-top: 4rem;
	}

</style>
