---
import Layout from "../layouts/Layout.astro";
import { Code } from "../components/Code.tsx";
import { Button } from "../components/ui/button";
import "@/styles/globals.css";
---

<Layout title="Files CLI">
	<main class="flex flex-col gap-12 min-h-screen items-center justify-center text-[#EDF2F6] font-sans">
	<img class="h-52 w-52" src="/pinnie.svg" alt="pinnie" />
	<h1 class="text-5xl sm:text-7xl font-bold font-telegraf">The Files CLI</h1>

	<Code client:load/>
	<p class="hidden sm:block">After installing, run <code class="bg-secondary py-2 px-3 rounded-md">pinata auth</code> to get started! </p>

	<p class="block sm:hidden">Manage Pinata without having to leave the terminal</p>
  	<Button className="text-current text-xl p-6" client:load>
			<a href="https://docs.pinata.cloud/tools/files-cli" target="_blank" rel="noreferrer">Docs</a>
		</Button>
	</main>
</Layout>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'dark';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'dark');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>
