---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- HTML Meta Tags -->
    <title>Files CLI</title>
    <meta name="description" content="The power of the Files API in your terminal">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://cli.pinata.cloud">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Files CLI">
    <meta property="og:description" content="The power of the Files API in your terminal">
    <meta property="og:image" content="https://dweb.mypinata.cloud/ipfs/QmNcdx9t48z7RQUXUZZHmuc4zBfyBxKLjDfEgmfhiop7j7?img-format=webp">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="cli.pinata.cloud">
    <meta property="twitter:url" content="https://cli.pinata.cloud">
    <meta name="twitter:title" content="Files CLI">
    <meta name="twitter:description" content="The power of the Files API in your terminal">
    <meta name="twitter:image" content="https://dweb.mypinata.cloud/ipfs/QmNcdx9t48z7RQUXUZZHmuc4zBfyBxKLjDfEgmfhiop7j7?img-format=webp">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf.ttf') format('truetype');
  font-weight: black;
  font-style: normal;
  font-display: swap;
}

	html {
	background: #161420;
}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
